body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    color: #333;
    text-align: center;
}

header {
    background-color: #0066cc;
    padding: 10px;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.indexPhoto {
    text-align: center;
}

.indexPhoto img {
    max-width: 200px;
    /* Adjust the size as needed */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

.indexAbout {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.indexAbout h1 {
    color: #0066cc;
}

p {
    line-height: 1.6;
}

span {
    font-style: italic;
    color: #888;
}